[github]
    user = pjquirk
[user]
	name = PJ Quirk
	#email = paquirk@microsoft.com
	#email = pjquirk@github.com
	email = pquirk@nvidia.com
	# For GitHub repositories, because my normal email address is private
	#email = 4342511+pjquirk@users.noreply.github.com
[core]
	autocrlf = input
	preloadindex = true
	fscache = true
	editor = code --wait
[push]
	default = simple
[merge]
    conflictStyle = zdiff3
[alias]
	diffui = difftool --no-prompt
	diffdir = difftool --dir-diff --tool=winmerge
	up = pull --rebase --prune
	lg = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold cyan)<%an>%Creset' --abbrev-commit --stat
	pr-force = push --force-with-lease origin
	#pr-gitlab = !f() { git push -u origin HEAD; r=$(git remote get-url origin | sed -E 's|git@([^:]+):|https://\\1/|;s|\\.git$||'); b=$(git rev-parse --abbrev-ref HEAD); u=$r/-/merge_requests/new?merge_request[source_branch]=$b; if grep -qi microsoft /proc/version 2>/dev/null; then explorer.exe \"$u\"; else xdg-open \"$u\"; fi; }; f
[color]
	ui = true
[credential]
	helper = manager
[credential "https://dev.azure.com"]
	useHttpPath = true
